version: "3.9"

services:
  frontend:
    image: pooyaos/chess-frontend:latest
    ports:
      - "3000:80" # Nginx serves on 80 inside container
    depends_on:
      - backend
    environment:
      REACT_APP_API_URL: "http://185.141.61.15:3004" # adjust if needed
  
  backoffice:
    image: pooyaos/chess-backoffice:latest
    ports:
      - "3001:80"
    depends_on:
      - backend
    environment:
      REACT_APP_API_URL: "http://185.141.61.15:3004"

  backend:
    image: pooyaos/chess-backend:latest
    ports:
      - "3004:3004"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_DB: chess_master
      REDIS_URL_FILE: /run/secrets/redis_url
      ENV: production
    depends_on:
      - db
      - redis
    secrets:
      - postgres_user
      - postgres_password
      - redis_url
      - email_notification_url
      - google_client_id
      - google_client_secret
      - session_secret
      - telegram_token
      - telegram_chat_id
      - vapid_private_key
      - vapid_public_key

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_DB: chess_master
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    secrets:
      - postgres_user
      - postgres_password

  redis:
    image: redis
    ports:
      - "6378:6379"
    secrets:
      - redis_password
    environment:
        REDIS_PASS_FILE: /run/secrets/redis_password
    command: [
      "bash", "-c",
      '
       docker-entrypoint.sh
       --requirepass "$$(cat $$REDIS_PASS_FILE)"
      '
    ]

secrets:
  postgres_user:
    file: ./secrets/postgres_user.txt
  postgres_password:
    file: ./secrets/postgres_password.txt
  redis_url:
    file: ./secrets/redis_url.txt
  redis_password:
    file: ./secrets/redis_password.txt
  email_notification_url:
    file: ./secrets/email_notification_url.txt
  google_client_id:
    file: ./secrets/google_client_id.txt
  google_client_secret:
    file: ./secrets/google_client_secret.txt
  session_secret:
    file: ./secrets/session_secret.txt
  telegram_token:
    file: ./secrets/telegram_token.txt
  telegram_chat_id:
    file: ./secrets/telegram_chat_id.txt
  vapid_private_key:
    file: ./secrets/vapid_private_key.txt
  vapid_public_key:
    file: ./secrets/vapid_public_key.txt
volumes:
  db_data:
